*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

nav{
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 22px 10px;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all .30s ease-in-out;
}
nav ul li a:hover{
    border-bottom: 3px solid white;
    font-weight: 700;
    padding-top: 15px;

}

#home{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./img/trem2.jpg");
    color: #ffff;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titulo{
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    cursor 500ms steps(28) infinite normal,
    type 4s steps(28) 1s normal both;
}
@keyframes type {
    from {
        width: 0;
    }
    to{
        width: 13.4em;
    }
}
@keyframes cursor {
    from {
        border-right-color: #ffff;
    }
    to{
        border-right-color: transparent;
    }
}

#about{
    background-color: #F8CAC1;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transparente{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
    font-size: 5rem;
    position: absolute;
    top: 105%;
}
.solid{
    text-transform: uppercase;
    color: #ffff;
    font-size: 5.5rem;
    position: absolute;
    top: 92%;
    left: 16%;
}
.sobre{
    position: absolute;
    top: 135%;
    left: 10%;
    width: 20vw;
    text-align: start;
    line-height: 5vh; 
    font-size: 20px;
}
.nos{
    position: absolute;
    top: 155%;
    right: 10%;
    width: 20vw;
    text-align: start;
    line-height: 5vh; 
    font-size: 20px;
}
#us{
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(72deg, #82BBC2, #F7A3A2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 190%;
    left: 20%;
    
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 20%;
    display: flex;
}
.bar{
    width: 100px;
    height: 24px;
    border: 2px solid #ffff;
    margin: 5px 25px;
    border-radius: 6px;
    cursor: pointer;
}
.bar:hover{
    background-color: #fff;
    transition: .4s ease-in;
}
input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}

#team{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8CAC1;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 470px;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-name {
    font-size: 16px;
    margin: 10px 0;
    color: #292E40;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #292E40;
  }
  
  .card-1 .card-name {
    color: #292E40;
  }
  .card-2 .card-footer {
    background-color: #292E40;
  }
  
  .card-2 .card-name {
    color: #292E40;
  }